footer.main-footer
  .wrapper.main-footer__wrap
    .main-footer__item.main-footer__item--copyright © Личный кабинет ППС РГСУ
    .main-footer__item.main-footer__item--contacts Контакты для связи:
      a(href ="prepod@rgsu.net") prepod@rgsu.net
    .main-footer__item.main-footer__item--callback
      a(href = "#") Сообщить об ошибке
