header.main-header
  .wrapper
    .main-header__menu
      .main-header__logo
        a(href="#")
          img(src='../img/icons/logo.svg')
          p Корпоративный портал
      button.main-header__burger.main-header__burger--closed
      nav.main-header__nav
        ul.main-header__list.main-header__list--closed
          li.main-header__item
            a(href = "#") Руководство
          li.main-header__item
            a(href = "#") Сотрудники
          li.main-header__item
            a(href = "#") Документы
          li.main-header__item
            a(href = "#") IT
          li.main-header__item
            a(href = "#") Заявки в управления
      a(href = "#").btn.main-header__link.main-header__link--closed Вакансии

