div.profile
  .profile__user
    img(src="..img/picture/userpic.jpg")
    .profile__name
        | Гальчич
        br
        | Максим Александрович
    .profile__desc Управление информационных систем и технологий
  nav.profile__sidenav
    .profile__wrap
      .profile__container
        h2.profile__title Мой профиль
        ul.profile__user-nav
          li.profile__item
            a(href = "#") Дашборд
          li.profile__item
            a(href = "#") Редактировать профиль
          li.profile__item
            a(href = "#") Уведомления
      .profile__container
        h2.profile__title Сервисы
        ul.profile__service-nav
          li.profile__item
            a(href = "#") Расчетный лист
          li.profile__item
            a(href = "#") Эффективность
          li.profile__item
            a(href = "#") Заказ справок
          li.profile__item
            a(href = "#") Бронирование
          li.profile__item
            a(href = "#") Мат. ответсвенность
      h2.profile__title Портфолио



